img.noborder {
    border-style: none;
    max-width: 100%;
    height: auto;
}

img {
    border-style: none;
    max-width: 50% !important;
    height: auto;
}

/* Inline icon images - readthedocs theme */

td img {
    border-style: none;
}

/* Suppress first heading in the ToC */

li.toctree-l3:first-child {
    display: none;
}

video {
    width:100%;
    max-width:640px;
}